@charset "utf-8";/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea{margin:0;padding:0;font-weight:normal;font-family:inherit}
ol,ul,li{list-style:none;}
td{width: 200px;height:29px;text-align: center;}
li:hover{background-color: #F8F8F8}
img{margin:0;padding:0;border:none}
table{border-collapse:collapse;}
.cls{clear:both;}
.notxt{text-indent:-9999px;}
body{font-size:14px;font-family:Tahoma;font-family:Arial, Hel,Microsoft YaHei;}
a{color:#000;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
i { font-style:normal;}


.nav {margin:0 auto; position:relative;background: #448EF3}
.nav ul{margin-left:250px; }
.nav  ul li {float:left;padding:0 20px;text-align:center;height:40px;line-height:40px;}
.curBg {height:3px;position:absolute;bottom:0;width:68px;left:0px;}
.cur{background:#F8F8F8}

.myframe{width:500px;}
.child{display: none;}
